* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Farver og fonte */
:root {
    --backgroundColor: #090909;
    --textColor: #FFFFFF;
}

@font-face {
    font-family: 'Rubik Glitch';
    src: url(../fonts/RubikGlitch-Regular.woff2);
}

/* Generel styling */

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: 30px;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Rubik Glitch';
    font-weight: 400;
    font-size: 82px;
}


h2, h3, h4, p, a {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

h2 {
    font-size: 50px;
    font-weight: 100;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
    font-weight: 100;
}

p {
    max-width: 65ch;
    font-weight: 100;
    font-size: 16px;
}

a {
    color: var(--textColor);
    text-decoration: none;
}