.h2_2 {
    margin: 50px 0 30px 0;
    font-weight: 600;
}
.artist_cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 450px));
    gap: 10px;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    filter: blur(2px);
}

.artist_date {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artist_row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: baseline;
    margin-bottom: 50px;
}
.illustration_wave {
    position: absolute;
    bottom: -165px;
    z-index: -1;
    width: 200%;
}
.illustration_woman {
    position: absolute;
    top: -280px;
    right: 180px;
    z-index: -1;
    width: 30%;
}






/* Mobil version */

@media screen and (max-width: 600px) {



}