.h2_2 {
    margin: 50px 0 30px 0;
    font-weight: 600;
  }
.artist_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 450px));
    gap: 10px;
  }

.artist_date {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.artist_row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    align-items: baseline;
    margin-bottom: 50px;
}
.illustration_wave {
    position: absolute;
    bottom: -165px;
    z-index: -1;
    width: 200%;
}
.illustration_woman {
    position: absolute;
    top: 220%;
    right: -25px;
    z-index: -1;
    width: 30%;
}


/* Mobil version */

@media screen and (max-width: 600px) {

    .h2_2 {
        margin: 15px 0 10px 0;
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    .artist_date {
        flex-direction: column;
        gap: 5px;
    }
    .artist_row {
        flex-direction: column;
        gap: 0;
        margin-bottom: 35px;
    }
    .illustration_wave {
        bottom: 125px;
        left: -10px;
    }
    .illustration_woman {
        top: 550%;
        width: 60%;
        
    }

}