---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import ArtistCards from "../components/ArtistCards.astro";
import "../styles/index.css";

const data = await fetch(
  "https://qfcbmxwfnjdobywkwfei.supabase.co/rest/v1/lineup?order=id.asc&limit=3",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmY2JteHdmbmpkb2J5d2t3ZmVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0ODkyNDAsImV4cCI6MjAyNjA2NTI0MH0.4phUCO3QegbetzxWRquRHEWOYbF8TctgcydbEjOxnxI",
    },
  }
).then((res) => res.json());
---

<MainLayout>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Karrusel Festival</h1>
      <p id="h2_index">3 days of house, disco and tecno in the woods</p>
    </div>
    <div class="hero-button">
      <Button size="box" type="web" link_to="/map">See Full Map</Button>
      <Button size="box" type="web" link_to="/lineup">See Lineup</Button>
    </div>
  </div>

  <div class="card">
    {
      data
        .filter((artist) => artist.date === "THURSDAY")
        .map((artist) => {
          return <ArtistCards data={artist} />;
        })
    }
  </div>
  <div class="SeeAllArtist_button button_flex">
    <div class="arrow">&#10230;</div>
    <Button size="box" type="web" link_to="/lineup">See all artist</Button>
  </div>

  <section class="grid_1-2">
    <div class="button_flex">
      <div class="arrow">&#10230;</div>
      <Button size="box" type="web" link_to="/about"
        >About Karrusel Festival</Button
      >
    </div>
    <img src="/lys_karrusel.svg" alt="" />
  </section>

  <section>
    <div class="flex">
      <h2>Location</h2>
      <div class="button_flex">
        <div class="arrow">&#10230;</div>
        <Button size="box" type="web" link_to="/map"> Full Map</Button>
      </div>
    </div>
    <div><img src="../../img/full_map.png" alt="" /></div>
  </section>
</MainLayout>
