---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Karrusel Festival">
  <h2>3 days of house, disco and tecno in the woods</h2>
  <h3>3 days of house, disco and tecno in the woods</h3>
  <h4>3 days of house, disco and tecno in the woods</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi alias
    dolore nisi aspernatur distinctio rerum non! Doloremque blanditiis quam
    rerum ipsa nesciunt. Minima perspiciatis, alias deserunt voluptatem aperiam
    distinctio!
  </p>
  <Button size="web" type="box">TEXT</Button>
  <Button size="web" type="no_box">TEXT</Button>
  <Button size="mobil" type="box">TEXT</Button>
  <Button size="mobil" type="no_box">TEXT</Button>
</MainLayout>
