---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/map.css";
---

<MainLayout title="Map">
  <div class="background_map">
    <img src="../../public/img/map/map.png" alt="map" />
    <!-- Scener -->
    <img
      id="manegen_stage"
      src="../../public/img/map/manegen_web.png"
      alt="manegen stage"
    />
    <img id="karrusel" src="../../public/img/map/karrusel.png" alt="karrusel" />
    <img
      id="tribunen_stage"
      src="../../public/img/map/tribunen_web.png"
      alt="tribunen stage"
    />
    <img
      id="balkonen_stage"
      src="../../public/img/map/balkonen_web.png"
      alt="balkonen stage"
    />
    <!-- Programmer -->
    <div id="manegen_program" class="hide"></div>
    <div id="tribunen_program" class="hide"></div>
    <div id="balkonen_program" class="hide"></div>
  </div>

  <div></div>

  <article class="grid_1-1-1">
    <div>
      <h4>How to get there?</h4>
      <p>
        Refshaleøen is located a bit outside of the city center in Copenhagen.
        You can get to the festival by bike or the metro and bus (2A). Explore
        your travelplan on rejseplan.dk.
      </p>
      <p>Address: Refshalevej 185, 1432 Copenhagen, Denmark.</p>
    </div>
    <div>
      <h4>Entrance</h4>
      <p>
        You will find the entrance to the festival on Refshalevej when you pass
        Lynetten harbor. Simply just follow the music and get into the electric
        vibe.
      </p>
    </div>
    <div>
      <h4>Tickets</h4>
      <p>
        You are able to buy your tickets online ticketmaster.dk. Early Bird
        Festival Passes on sale until 1 April. The Festival Pass provides access
        to all 3 days at Karrusel from 22–24 August 2024. Day tickets will go on
        sale later.
      </p>
      <p>
        Terms: Age limit: 18+. You must apply to entrance rules. Artists subject
        to change. Karrusel will take place rain or shine. Ticket fees apply.
      </p>
    </div>
  </article>
</MainLayout>

<script>
  // Definerer variabler
  const manegen_stage = document.querySelector("#manegen_stage");
  const manegen_program = document.querySelector("#manegen_program");

  const tribunen_stage = document.querySelector("#tribunen_stage");
  const tribunen_program = document.querySelector("#tribunen_program");

  const balkonen_stage = document.querySelector("#balkonen_stage");
  const balkonen_program = document.querySelector("#balkonen_program");

  // Ved klik på scenen, gå til funktionen showProgram
  manegen_stage.addEventListener("click", showProgramManegen);

  tribunen_stage.addEventListener("click", showProgramTribunen);

  balkonen_stage.addEventListener("click", showProgramBalkonen);

  function showProgramManegen() {
    // Viser programbox
    manegen_program.classList.remove("hide");
    manegen_program.classList.add("manegen_program");

    // Fjerner eventListener der lytter til klik programbox
    manegen_program.removeEventListener("click", showProgramManegen);
    manegen_stage.removeEventListener("click", showProgramManegen);

    // Ved klik på programbox, gå til funktionen mapDefault
    manegen_program.addEventListener("click", mapDefault);
    manegen_stage.addEventListener("click", mapDefault);
  }

  function showProgramTribunen() {
    tribunen_program.classList.remove("hide");
    tribunen_program.classList.add("tribunen_program");

    tribunen_program.removeEventListener("click", showProgramTribunen);
    tribunen_stage.removeEventListener("click", showProgramTribunen);

    tribunen_program.addEventListener("click", mapDefault);
    tribunen_stage.addEventListener("click", mapDefault);
  }

  function showProgramBalkonen() {
    balkonen_program.classList.remove("hide");
    balkonen_program.classList.add("balkonen_program");

    balkonen_program.removeEventListener("click", showProgramBalkonen);
    balkonen_stage.removeEventListener("click", showProgramBalkonen);

    balkonen_program.addEventListener("click", mapDefault);
    balkonen_stage.addEventListener("click", mapDefault);
  }

  // Tilføjer hide, og dermed fjerner programbox igen
  function mapDefault() {
    manegen_program.classList.add("hide");
    manegen_stage.addEventListener("click", showProgramManegen);

    tribunen_program.classList.add("hide");
    tribunen_stage.addEventListener("click", showProgramTribunen);

    balkonen_program.classList.add("hide");
    balkonen_stage.addEventListener("click", showProgramBalkonen);
  }
</script>
