---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/map.css";
---

<MainLayout title="Map">
  <div class="background_map">
    <img src="../../public/img/map/map.png" alt="map" />
  </div>
  <div class="manegen_web">
    <img src="../../public/img/map/manegen_web.png" alt="manegen stage" />
  </div>
  <div class="karrusel">
    <img src="../../public/img/map/karrusel.png" alt="karrusel" />
  </div>
  <div class="tribunen_web">
    <img src="../../public/img/map/tribunen_web.png" alt="tribunen stage" />
  </div>
  <div class="balkonen_web">
    <img src="../../public/img/map/balkonen_web.png" alt="balkonen stage" />
  </div>
  <article class="grid_1-1-1">
    <div>
      <h4>How to get there?</h4>
      <p>
        Refshaleøen is located a bit outside of the city center in Copenhagen.
        You can get to the festival by bike or the metro and bus (2A). Explore
        your travelplan on rejseplan.dk.
      </p>
      <p>Address: Refshalevej 185, 1432 Copenhagen, Denmark.</p>
    </div>
    <div>
      <h4>Entrance</h4>
      <p>
        You will find the entrance to the festival on Refshalevej when you pass
        Lynetten harbor. Simply just follow the music and get into the electric
        vibe.
      </p>
    </div>
    <div>
      <h4>Tickets</h4>
      <p>
        You are able to buy your tickets online ticketmaster.dk. Early Bird
        Festival Passes on sale until 1 April. The Festival Pass provides access
        to all 3 days at Karrusel from 22–24 August 2024. Day tickets will go on
        sale later.
      </p>
      <p>
        Terms: Age limit: 18+. You must apply to entrance rules. Artists subject
        to change. Karrusel will take place rain or shine. Ticket fees apply.
      </p>
    </div>
  </article>
</MainLayout>
