---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kunstner">
  <article>
    <img src="../public/singleview_artist.jpg" alt="" />
    <div class="single_grid">
      <div class="info_flex">
        <h3>LOCATION</h3>
        <p>MAGENEN</p>
        <h3>SHOW DATE</h3>
        <p>SATURDAY</p>
        <h3>MORE</h3>
        <a href="">Spotify</a>
        <a href="">Instagram</a>
      </div>
      <div class="titel_flex">
        <h1>Artist Name</h1>
        <h2></h2>
        <button></button>
      </div>
    </div>
  </article>
</MainLayout>
