---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/single.css";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <article>
    <div class="artist_img"></div>
    <div class="grey_frame"></div>
    <div class="single_grid">
      <div class="info_flex">
        <h3>LOCATION</h3>
        <p>MAGENEN</p>
        <h3>SHOW DATE</h3>
        <p>SATURDAY</p>
        <h3>MORE</h3>
        <a href="">Spotify</a>
        <a href="">Instagram</a>
      </div>
      <div class="titel_flex">
        <h1>Artist Name</h1>
        <h2>Not many DJs can claim to experience as meteoric, grassroots ascent as SPFDJ. Having established a remarkable energy, style and attitude on the underground techno circuits of both London and Berlin, she is known for inspiring debauchery and sweat-soaked hedonism on an international scale.</h2>
        <Button size="box">See all artists</Button>
      </div>
    </div>
  </article>
</MainLayout>
