---
const { size, type, link_to } = Astro.props;
---

<a href={link_to}><button class={size + " " + type}><slot /></button></a>

<style>
  button {
    color: #ffffff;
    cursor: pointer;
  }

  .web {
    padding: 12px 42px;
  }
  .mobil {
    padding: 12px 24px;
  }

  .box {
    background: linear-gradient(to right, #5c11fb 0%, #ec4dfe 100%);
    border-radius: 5px;
  }
  .box:hover {
    box-shadow: 4px 3px 10px #ff1cc0;
  }
  .box:active {
    box-shadow: -4px -4px 10px #515151;
  }

  .no_box {
    background: none;
    border: none;
    font-size: 22px;
    padding: 0;
  }
  .no_box:hover {
    color: #ec4dfe;
    text-shadow: 4px 3px 10px #ff1cc0;
  }
</style>
