---
import Button from "../components/Button.astro";
---

<article class="grid_1-1-1">
  <div class="footer_logo">
    <a href="/">
      <img src="../../public/img/logo_footer.png" alt="footerlogo" /></a
    >
  </div>
  <div class="contact">
    <h4>Contact</h4>
    <p>Email: info@nusnus.dk</p>
    <ul>
      <li><a href="https://www.instagram.com/karruselfest/">Instagram</a></li>
      <li><a href="https://www.facebook.com/karruselfest">Facebook</a></li>
      <li>
        <a
          href="https://www.facebook.com/events/602360444604770/?acontext=%7B%22ref%22%3A%2252%22%2C%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22share_link%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22share_link%5C%22%2C%5C%22extra_data%5C%22%3A%7B%5C%22invite_link_id%5C%22%3A401093138774337%7D%7D]%22%7D"
          >FB event</a
        >
      </li>
      <li>
        <a href="https://ra.co/events/1768065">Resident Advisor event</a>
      </li>
    </ul>
  </div>
  <div>
    <h4>Sign up for newsletter</h4>
    <form action="contract" method="POST" data-netlify="true">
      <label for="E-mail">
        E-mail:
        <input type="email" size="35" />
      </label>
      <Button size="box" type="web">Sign up</Button>
    </form>
  </div>
</article>

<style>
  article {
    margin-top: 120px;
  }
  h4 {
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }

  .footer_logo {
    max-width: 80%;
  }
  .contact {
  }

  form {
    display: flex;
    flex-direction: column;
    width: 12rem;
    color: #ffffff;
    font-family: proxima-nova, sans-serif;
  }
  input {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    color: black;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
  }
  @media screen and (min-width: 700px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
</style>
